<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="https://cpraveen.github.io">
    <meta name="keywords" content="CFD, FEM, PDE, TIFR, TIFRCAM">
    <meta name="author" content="Praveen C">
    <meta name="description" content="Homepage of Praveen Chandrashekar">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/css/academicons.css' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        [ <a href="people.html">People</a> | 
         <a href="news.html">News</a> |
         <a href="codes.html">Codes</a> |
         <a href="talks.html">Talks</a> |
         <a href="teaching/index.html">Teaching</a> |
         <a href="pub.html">Publications</a> |
         <a href="cal.html">Calendar</a> |
         <a href="https://www.komoot.com/user/2804890022231/tours?type=recorded">Hiking</a> | 
         <a href="contact.html">Contact</a> ]
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  <footer>
  <div style="text-align:center; border-top: 1px dashed #b5e853; padding: 20px 0; margin: 0 0 0 0;">
  [
  <a href="feed.xml">Feed</a> | 
  <a href="https://www.github.com/cpraveen">Github</a> |
  <a href="https://www.codeberg.org/cpraveen">Codeberg</a> |
  <a href="https://git.sr.ht/~cpraveen">SourceHut</a> |
  <a href="https://twitter.com/cfdlab">Twitter</a> |
  <a href="https://www.youtube.com/channel/UC0kuy9roaaK5z5II9_6QNcg">Youtube</a> |
  <a href="https://arxiv.org/a/chandrashekar_p_1">Arxiv</a> |
  <a href="https://www.researchgate.net/profile/Praveen_Chandrashekar">RGate</a> |
  <a href="https://scholar.google.co.in/citations?user=9Mb6H7EAAAAJ">GScholar</a> |
  <a href="https://orcid.org/0000-0003-1903-4107">Orcid</a>
  ]
  </div>
  </footer>

  </body>
</html>
